
/*Jumbotrons*/

.jumbotron {
    background-color: #fff;
    text-align:center;
  }
  .jumbotron h2 {
    font-size: 40px;
  }
  
  .welcome-jumbotron h1 {
    margin-bottom: 60px;
  }
  
  .welcome-jumbotron p {
    margin-bottom: 60px;
    font-size: 30px;
  }



